# Example configuration file for mousing

version = "0.01";

application:
{

    options:
    {
        middle_click = true;
    };

    reset: 
    {
        hour = 0;
        minute = 0;
        second = 0;
    };

    colorscheme:
    {
        left_row = "COLOR_MAGENTA";
        right_row = "COLOR_CYAN";
    };

    stats:
    {
        days = 12;
    };

    database:
    {
        filename = "mousing.db";
        write_intval = 8;
    };

};
